@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Elite&display=swap');

body {
    background-color: #212121;
    font-family: 'Special Elite',sans-serif;
    margin: 30px;
    padding: 20px;
    color: #ffffff;
    line-height: 1.5;
}

h1,h2 {
    font-size: 30px;
    margin-bottom: 5px;
    border-bottom: 2px solid #313131;
}

h1,h2:hover {
    color: #fff200;
}

p,li {
    font-size: 16px;
    font-family:'Inter',sans-serif;
}

ul{
    margin-left: 10px;
}

.hard {
    color: #ff1919;
}

.med {
    color: #fff200;
}

.easy {
    color: #00a700;
}

li::marker {
    content: '-> ';
}

.top-link {
    text-align: right;
    margin-bottom: -50px;
}

a{
    text-decoration: none;
    color: #f0f0f0;
}

a:hover {
    color:#059805;
}

.bookmark-btn-container {
    text-align: center;
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0.5;
}

.bookmark-btn {
    background-color: #00a700;
    padding: 20px 25px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #fff200;
    border-radius: 4px;
}

.bookmark-btn:hover {
    background-color: #045b04;
    color: #fff200;
}

button {
    background-color: #f0f0f0;
    border: none;
    padding:8px 12px;
    border-radius: 4px;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #fff70e;
}

input[type="text"]{
    padding:4px 6px;
    width:150px;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #212121;
    font-family: 'Inter',sans-serif;
    border: none;
}

.playground {
    padding: 30px;
    margin:30px 0;
    background-color: #004400;
    border: 3px solid #031c03;
    border-radius: 4px;
}

.playground h2 {
    border-bottom: 2px solid #f0f0f0;
}

img {
    width: 100%;
    margin-top: 20px;
    border-radius: 4px;
}
